################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/__vm
/LuckyBox.sln
/LuckyBox.vcxproj
/LuckyBox.vcxproj.filters
/Release
