################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/__vm
/LuckyBox.sln
/LuckyBox.vcxproj
/LuckyBox.vcxproj.filters
/Release
/pcb

#.gitignore
# JetBrains CLion
./idea/*
CMakeLists.txt
CMakeListsPrivate.txt
/cmake/*
/cmake-build-debug/*
/cmake-build-release/*
/project_data/data_old/
/project_data/node_modules/